



@import '../../node_modules/coeur/styles/_head-reset.scss';


@import 'settings';
@import 'design';
// @import 'layout'; // typography, basic design & whitespace


// @import '../../node_modules/coeur/styles/head-typography';

// @import 'zephyr.scss';

// @import 'yolo';
// @import 'yolo-card';


// modular
// @import 'components';
// @import 'sections';
// @import 'templates';


.ContentFrame-body {
	// padding-bottom: 140px; // $size-9;
  position: relative;
  z-index: 10;
  overflow: hidden;
}




// // selective import for space saving
// @import '../../node_modules/coeur/styles/_head-reset.scss';

// @import '../../node_modules/coeur/styles/_utils.scss';
// @import '../../node_modules/coeur/styles/_heart.scss';


// @import '../../node_modules/coeur/styles/head-mixins'; // depends on prefixer, in _heart
// @import '../../node_modules/coeur/styles/head-reset';      
// @import '../../node_modules/coeur/styles/head-screen';
// // @import 'head-colors';
// @import '../../node_modules/coeur/styles/head-helpers';
// @import '../../node_modules/coeur/styles/head-animation';
// @import '../../node_modules/coeur/styles/head-typography';
// @import '../../node_modules/coeur/styles/head-flexy'; 
// @import '../../node_modules/coeur/styles/head-griddick'; 
// // @import '../../node_modules/coeur/styles/head-masonry'; 
// @import '../../node_modules/coeur/styles/head-borders'; 


// // @import '../../node_modules/coeur/styles/_neck.scss';
// @import '../../node_modules/coeur/styles/_neck-buttons.scss';
// @import '../../node_modules/coeur/styles/_neck-layout.scss';
// @import '../../node_modules/coeur/styles/_neck-design.scss';
// @import '../../node_modules/coeur/styles/_neck-links.scss';
// // @import '../../node_modules/coeur/styles/_neck-code.scss';

// // @import '../../node_modules/coeur/styles/_body.scss';
// @import '../../node_modules/coeur/styles/_body-card.scss';
// @import '../../node_modules/coeur/styles/_body-forms';  
// // @import '../../node_modules/coeur/styles/_body-tag';  
// // @import '../../node_modules/coeur/styles/_body-table';  
// // @import '../../node_modules/coeur/styles/_body-buttonGroups';  

// // // re-cascade
// // @import '../../node_modules/coeur/styles/_head-helpers.scss';


@import '../../node_modules/coeur/styles/_body-starter.scss';

// defined units
$unit: $size;
$line-height: $unit * 1.6;
$radius: $unit/4;

$cool: red;


// @import '../styles/_addendum.scss';


html, body, * {
	@extend ._font-body;
}

